legacy/realtime/libportaudio.a
legacy/realtime/portaudio.h
legacy/realtime/pink.txt
legacy/realtime/pink
legacy/pi/pink
legacy/pi/pi_pink.txt
legacy/pi/verify.py
*.png
*.wav
legacy/alsa/pink
legacy/alsa/sine
legacy/alsa/pink.txt
legacy/alsa/non
legacy/alsa/mmap
